{
	"useTabs": true,
	"tabWidth": 2,
	"singleQuote": true,
	"jsxSingleQuote": false,
	"printWidth": 100,
	"plugins": ["@ripple-ts/prettier-plugin"],
	"overrides": [
		{
			"files": ["*.ripple", "*.rsrx", "*.tsrx"],
			"options": {
				"bracketSameLine": false,
				"parser": "ripple"
			}
		},
		{
			"files": ["**/*.md"],
			"options": {
				"useTabs": false,
				"printWidth": 82,
				"proseWrap": "always"
			}
		},
		{
			"files": ["**/*.json"],
			"options": {
				"useTabs": false
			}
		},
		{
			"files": ["**/*.yml", "**/*.yaml"],
			"options": {
				"singleQuote": false
			}
		}
	]
}
